[submodule "tmux-resurrect"]
	path = tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "tmux-continuum"]
	path = tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "tmux-fzf-url"]
	path = tmux-fzf-url
	url = https://github.com/wfxr/tmux-fzf-url.git
